<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test blog</title>
</head>
<body>
    {{posts}}
    {% for post in posts %} 
    <!-- point to context in models--def test -->
        {% if post.status == 0 %}
         <p>not yet publish</p>
        {%else%}
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <small>{{post.publish_date}}</small>
        {%endif%}
    {%endfor%}
</body>
</html>